/*** COLORS ***/
$bgmain: #020617;
$primary: #facc15;
$secondary: #fef08a;
$tertiary: #d1d5db;
$white: #FFFF;


/*** FUENTES ***/
$page-font: 'Onest Variable', sans-serif;


/*** Animaciones ***/
$transition: all .3s ease-in-out;