---
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Subtitulo from "@/components/Subtitulo.astro";
import Briefcase from "public/icons/briefcase.astro";
import Code from "public/icons/code.astro";
import Experience from "@/components/experience.astro";
import User from "public/icons/user.astro";
---

<Layout title="Porfolio de Gapedev">
	<main>
		<Section id="Hero">
			<Hero />
		</Section>

		<Section id="Experiencia">
			<Subtitulo subtitle="Experiencia laboral">
				<Briefcase />
			</Subtitulo>
			<Experience />
		</Section>

		<Section id="Proyectos">
			<Subtitulo subtitle="Proyectos">
				<Code />
			</Subtitulo>
		</Section>

		<Section id="Sobre Mí">
			<Subtitulo subtitle="Sobre Mí">
				<User />
			</Subtitulo>
		</Section>
	</main>
</Layout>
