@use '../abstracts/index' as *;

body {
  color: $white;
  font-family: $page-font;
}

.container {
  padding: 1.25rem 3.25rem 5.25rem;

  @include widescreen {
    padding: 1.25rem 6.25rem 1.25rem 6.25rem;
  }
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include desktop {
    display: inherit;
  }
}